@font-face {
    font-family: "Bruney" ;
    src: url(../fonts/Bruney.otf);
}

@font-face {
    font-family: "avant";
    src: url(../fonts/AvantGardeBookBT.ttf);
}


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    scroll-snap-type: y mandatory;
}

section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

footer{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* animation */
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

@keyframes fadeout {
    from{
        opacity: 100;
    }
    to{
        opacity: 0;
    }
}

@keyframes updown {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.01);
    }
}

/* header */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
}

#splogo{
    margin-left: 45px;
    width: 150px;
    height: 80px;
    object-fit: cover;
}

.nav{
    margin-right: 45px;
    
}

.nav a {
    position: relative;
    font-family: "Bruney";
    justify-content: space-between;
    color: white;
    font-weight: 900;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    font-size: 16px;
    transition: .5s;
    transform: scale(0);
}

.nav a:hover
{
    color: #333;
}

.nav a span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 30px;
    text-align: center;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

.nav a:hover span
{
    transform: scale(1);
}

/* about */
.top
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../backgrounds/sp_background1_home.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-position: fixed;

    scroll-snap-align: start;
}

/* closed eye */
#close_eye{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#abt{
    position: absolute;
    font-family: "Bruney";
    color: white;
    font-size: 70px;
    left: 220px;
    font-weight: 900;
    transition: .4s;
    animation: updown 1s infinite;
    cursor: pointer;
}

#abt:hover{
    text-shadow: 0 0 50px white;
}



/* open eye */
#open{
    animation-name: fadein;
    animation-duration: .4s;
    display: block;
}

#open_eye{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#about{
    position: absolute;
    color: white;
    left: 220px;
    font-weight: 900;
    transition: .4s;
    cursor: pointer;
    top: 130px;
    width: 650px;
}

#aboutus{
    font-size: 70px;
    font-family: "Bruney";
    margin-top: 50px;
    line-height: 80px;
    text-align: center;
    transition: .4s;
    
    
}

#open.fade {
    animation: fadeout .4s forwards;
    display: none;
    
    
}


#aboutus:hover{
    text-shadow: 0 0 50px white;
}

#a_desc{
    font-family: "avant";
    text-justify: center;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    font-weight: 200;
    
}

/* series one */
.series1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../backgrounds/sp_bg_1.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-position: fixed;

    scroll-snap-align: start;
}

#list1{
    width: 100%;
    height: 100px;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    
    
}
#list1 li{
    margin-top: 10px;
    margin-left: 13%;
}

#list1 p{
    position: relative;
    font-family: "Bruney";
    color: white;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 15px;
    width: max-content;

}

#list1 p:hover
{
    text-shadow: 0 0 10px white;
}

#list1 p span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #262B26;
    border-radius: 30px;
    text-align: center;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

#list1 p:hover span
{
    transform: scale(1);
}

.slider1{
    display: flex;
    overflow: hidden;
}

.pics{
    width: 1250px;
    height: 600px;

}

.ink1{
    width: 1250px;
    height: 600px;
    /* margin-top: 50px; */
    align-items: center;
    display: flex;

}

#thevalley{
    width: 550px;
    height: 550px;
    margin-left: 4%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;

}
#v_desc{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: "avant";
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 30px 20px 20px;
    border-radius: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-left: 40%;
    margin-top: 9%;
    width: 600px;
    transition: .4s;
}

#v_desc:hover{
    text-shadow: 0 0 70px white;
}

#thesnow{
    width: 550px;
    height: 550px;
    margin-left: 4%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;

}

#thescene{
    width: 550px;
    height: 550px;
    margin-left: 4%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;

}

#theplumblossom{
    width: 550px;
    height: 550px;
    margin-left: 4%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;
}

#title1{
    font-family: "Bruney";
    color: white;
    font-size: 55px;
    padding: 0%;
    margin-bottom: 0%;
    margin-left: 500px;
    bottom: 0%;
    line-height: 30px;
    text-shadow: 0 0 70px white;
    font-weight: 900;

}

#play1{
    font-family: "avant";
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    text-decoration: underline;
}

#vid_1{
    margin-top: 200px;
    margin-left: 145px;
    width:1000px;
    height: 500px;
}



/* series two */
.series2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../backgrounds/sp_bg_2.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-position: fixed;

    scroll-snap-align: start;
}

#list2{
    width: 100%;
    height: 100px;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    
    
}
#list2 li{
    margin-top: 10px;
    margin-left: 11%;
}

#list2 p{
    position: relative;
    font-family: "Bruney";
    color: white;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 15px;
    width: max-content;

}

#list2 p:hover
{
    text-shadow: 0 0 10px white;
}

#list2 p span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #2B221B;
    border-radius: 30px;
    text-align: center;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

#list2 p:hover span
{
    transform: scale(1);
}

.slider2{
    display: flex;
    overflow: hidden;
}

.pics2{
    width: 1250px;
    height: 600px;

}

.reality1{
    width: 1250px;
    height: 600px;
    /* margin-top: 50px; */
    align-items: center;
    display: flex;

}

#reality_1{
    width: 550px;
    height: 550px;
    margin-left: 6%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;

}
#r_desc{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "avant";
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 30px 20px 20px;
    border-radius: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-left: 40%;
    margin-top: 9%;
    width: 600px;
    transition: .4s;
}

#r_desc:hover{
    text-shadow: 0 0 70px white;
}

#reality_2{
    width: 550px;
    height: 550px;
    margin-left: 26%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;

}

#reality_3{
    width: 550px;
    height: 550px;
    margin-left: 26%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;
}

#reality_4{
    width: 550px;
    height: 550px;
    margin-left: 26%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;
}

#title2{
    font-family: "Bruney";
    color: white;
    font-size: 55px;
    padding: 0%;
    margin-bottom: 0%;
    margin-left: 450px;
    bottom: 0%;
    line-height: 30px;
    text-shadow: 0 0 70px white;
    font-weight: 900;

}

#play2{
    font-family: "avant";
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    text-decoration: underline;
}

#vid_2{
    margin-top: 200px;
    margin-left: 145px;
    width:1000px;
    height: 500px;
}








/* series three */
.series3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../backgrounds/sp_bg_3.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-position: fixed;

    scroll-snap-align: start;
}

#list3{
    width: 100%;
    height: 100px;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    
    
}
#list3 li{
    margin-top: 10px;
    margin-left: 11%;
}

#list3 p{
    position: relative;
    font-family: "Bruney";
    color: white;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 15px;
    width: max-content;

}

#list3 p:hover
{
    text-shadow: 0 0 10px white;
}

#list3 p span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #1DAD8C;
    border-radius: 30px;
    text-align: center;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

#list3 p:hover span
{
    transform: scale(1);
}

.slider3{
    display: flex;
    overflow: hidden;
}

.pics3{
    width: 1250px;
    height: 600px;

}

.night{
    width: 1250px;
    height: 600px;
    /* margin-top: 50px; */
    align-items: center;
    display: flex;
}

#night_1{
    width: 550px;
    height: 550px;
    margin-left: 6%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;

}
#n_desc{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "avant";
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 30px 20px 20px;
    border-radius: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-left: 40%;
    margin-top: 9%;
    width: 600px;
    transition: .4s;
}

#n_desc:hover{
    text-shadow: 0 0 70px white;
}

#night_2{
    width: 550px;
    height: 550px;
    margin-left: 26%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;

}

#night_3{
    width: 550px;
    height: 550px;
    margin-left: 26%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;
}

#night_4{
    width: 550px;
    height: 550px;
    margin-left: 26%;
    margin-top: 2%;
    animation-name: fadein;
    animation-duration: .4s;
}

#title3{
    font-family: "Bruney";
    color: white;
    font-size: 55px;
    padding: 0%;
    margin-bottom: 0%;
    margin-left: 450px;
    bottom: 0%;
    line-height: 30px;
    text-shadow: 0 0 70px white;
    font-weight: 900;

}

#play3{
    font-family: "avant";
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    text-decoration: underline;
}

#vid_3{
    margin-top: 200px;
    margin-left: 145px;
    width:1000px;
    height: 500px;
}







/* footer */
footer{
    background-color: #111;
}

.footer{
    width: 100%;
    padding-top: 30px;
}

.icons{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.icons a{
    
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}

.icons a i{
    font-size: 20px;
    color: black;
}

.icons a:hover{
    background-color: black;
    transition: .3s;
}

.icons a:hover i{
    color: white;
    transition: .3s;
}

.footerbot{
    padding: 10px;
}

.footerbot p{
    color: white ;
    text-align: center;
}

/* scrolltop */
#scrolltop{
    font-family: "avant";
    font-weight: 900;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: white;
    padding: 10px 15px 10px;
    cursor: pointer;
    border-radius: 15px;
}